/* Basic Layout */
.pad5 { padding: 5px; }
.pad10 { padding: 10px; }
.pad15 { padding: 15px; }
.pad20 { padding: 20px; }

.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.align-center { align-items: center; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.flex-wrap { flex-wrap: wrap; }
.flex-no-wrap { flex-wrap: nowrap; }

/* Basic Typography */
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }


/* Components */
// App Bar
.app-bar {
    background-color: rgb(90,90,90);
    color: rgb(200,200,200);

    .app-bar-title {
        margin: 0;
    }
}

// Character Cards
.character-card {
    // min-height: 300px;
    // max-width: 400px;
}